.points-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
    color: white;
    font-size: 2rem;
    font-family: 'Courier New', Courier, monospace;
  }
  
  .points-display {
    margin-bottom: 20px;
  }
  
  .okey-button {
    padding: 10px 20px;
    font-size: 1.5rem;
    color: white;
    background: none;
    border: 2px solid white;
    border-radius: 25px;
    cursor: pointer;
    transition: color 0.4s, background-color 0.4s;
  }
  
  .okey-button:hover {
    color: black;
    background-color: white;
  }
  