.points-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.points-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.points-display #dice {
  transform: none;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  margin-top: 20px;
  cursor: pointer;
  border: none;
  background-color: #4CAF50;
  color: white;
  border-radius: 5px;
}

button:hover {
  background-color: #45a049;
}

button:active {
  background-color: #3e8e41;
}

.total-points {
  font-size: 24px;
  font-weight: bold;
  color: black;
  margin-bottom: 20px;
}
