.greeting-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: black;
  color: white;
  font-size: 2rem;
  font-family: 'Courier New', Courier, monospace;
}

.blinking-cursor {
  font-weight: bold;
  font-size: 2rem;
  animation: blink 1s infinite;
}

@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

.start-button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1.5rem;
  color: white;
  background: none;
  border: none;
  position: relative;
  cursor: pointer;
  outline: none;
}

.start-button:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid white;
  border-radius: 25px;
  box-sizing: border-box;
  animation: border-animation 2s infinite linear;
}

@keyframes border-animation {
  0% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 0 0);
  }
  25% {
    clip-path: polygon(0 0, 0 0, 100% 0, 100% 100%, 0 100%);
  }
  50% {
    clip-path: polygon(0 0, 0 0, 0 0, 100% 100%, 0 100%);
  }
  75% {
    clip-path: polygon(0 0, 0 0, 0 0, 0 0, 0 100%);
  }
  100% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 0 0);
  }
}
